.Board {
  width:522px;
  max-width:522px;
  display: inline-block;
  font-family: neon;
  color: white;
}

.Board-game  {
  margin: 0 auto;
  box-shadow: 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
  border-radius: 10px;
}

table tr:first-child td:first-child {
  border-radius: 10px 0 0 0 !important;
}
table tr:first-child td:last-child {
  border-radius: 0 10px 0 0 !important;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 10px !important;
}
table tr:last-child td:last-child {
  border-radius: 0 0 10px 0 !important;
}

.Board-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 80px;
}

.Board-toggle {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.Board-toggle div:hover {
  border-bottom: 1px solid #FED128;
  cursor: pointer;
  margin-bottom: -1px;
}

.Board-winner {
  font-family: neon;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
}
